body {
    font-family:
        "inter", sans-serif;
    font-optical-sizing: auto;
}

.container {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
}

.header {
    top: 0;
    left: 0;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.header-row {
    display: flex;
    align-items: center;
    gap: 36px;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 24px;
}

.menu-link {
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #33383f;
    text-decoration: none;
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px 20px;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    text-decoration: none;
    cursor: pointer;
    transition: 2ms;
}

.btn.blue {
    color: #0070a0;
}

.btn.blue svg path {
    stroke: #006B99;
}

.btn.blue:hover {
    background-color: #0070a0;
    color: #fff;
}

.btn.blue:hover svg path {
    stroke: #fff;
}

.btn.white {
    background-color: #0070a0;
    color: #fff;
}

.btn.white:hover {
    background-color: #fff;
    color: #0070a0;
}

.header-btns {
    display: flex;
    gap: 12px;
    margin-left: auto;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.fraunces {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.hero {
    padding: 145px 0 80px;
}


.hero-row {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
}

.hero-left {
    max-width: 525px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.hero-title {
    margin: 0;
    font-family: "Fraunces", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: 110%;
    letter-spacing: 0em;
    color: #1f1f1f;
}

.hero-desc {
    margin: 0;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
    max-width: 67%;
}

.hero-btns {
    display: flex;
    gap: 12px;
}

.advantages-item {
    padding: 32px 32px 40px 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}

.advantages-item-title {
    font-family: "Fraunces", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

.advantages-item-desc {
    margin: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #1f1f1f;
}

.advantages-row{
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
}

.advantages-item-container{
    width: 33.3%;
    padding: 16px;
    box-sizing: border-box;
}

.care{
    background-color: #f7f9fa;
    padding: 80px 0;
    margin-top: 120px;}

.care-title{
    margin: 0 0 62px;
    font-family: "Fraunces", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 0em;
    max-width: 650px;
    color: #1f1f1f;
}

.care-title span{
    font-size: 39px;
    line-height: 129%;
    letter-spacing: 0.01em;}

.care-faq{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1px;
    max-width: 450px;
}

.care-faq li{
    padding: 16px 12px;
    border-top: 1px solid #c2cdd8;
    border-bottom: 1px solid #c2cdd8;
}

.care-faq-head{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 20px;
    font-family: "Fraunces", sans-serif;
    line-height: 126%;
    letter-spacing: 0.01em;
    color: #626a72;
}

.care-faq-head:after{
    content: "";
    width: 18px;
    height: 10px;
    background: url(../images/patch_bottom.svg);
    margin-left: auto;}

.care-faq-body{
    padding-left: 48px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    color: #1f1f1f;
    transition: 0.3s;
}

.care-faq li:hover.care-faq-body{
    max-height: 1000px;
    opacity: 1;
}

.care-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
